// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import "../sandstone/lib.less";

@syncBlue: #0092db;

#wrapper:before {
    content: " ";
    position: absolute;
    top: 80px;
    right: 85px;
    height: 250px;
    width: 250px;
    z-index: 2;
}

#wrapper {
    width: 100%;
    padding-bottom: 0;
}

#colophon {
    margin-top: 0;
}

.secondary {
    background: #fff;
}

.inner-wrapper {
    padding: (@baseLine * 2) 0;
    width: @widthDesktop;
    margin: 0 auto;
    position: relative;
}

.primary {
    text-align: center;
    .inner-wrapper {
        max-width: 480px;
        padding-bottom: @baseLine * 2;
    }
    .warning {
        font-style: italic;
        font-size: 18px;
        text-align: center;
    }
}

.secondary {
    header {
        max-width: 480px;
        text-align: center;
        margin: auto;
        margin-bottom: @baseLine * 2;
    }
}

.android-promo {
    background: @syncBlue;
    color: #fff;
    text-align: center;
    .inner-wrapper {
        padding: 20px 0;
    }
    .container {
        background: url(/media/img/firefox/sync/droid-dude.png) no-repeat 0 0;
        background-size: 170px 200px;
        padding: 0 180px;
    }
    h1 {
        color: #fff;
        font-size: 34px;
        letter-spacing: -0.02em;
        b {
            .open-sans();
            font-weight: normal;
        }
    }
    p {
        .open-sans-light();
        font-size: 18px;
        margin: 0;
    }
    &,
    h1 {
        text-shadow: 0 1px rgba(0,0,0,0.1);
    }
}

.sky {
    .primary-sync-button,
    .android-button {
        display: block;
        padding: 15px;
        margin: 20px;
        .border-radius(10px);
        @sync-button-green: #14c329;
        background: @sync-button-green;
        color: #fff;
        font-size: @largeFontSize;
        text-transform: uppercase;
        &:focus,
        &:active,
        &:hover {
            color: #fff;
            background: darken(@sync-button-green, 5%);
            text-decoration: none;
        }
    }
    .android-button {
        display: inline-block;
        padding: 15px 60px;
    }
}

.features {
    > div {
        .span(4);
        text-align: center;
        &:before {
            display: inline-block;
            content: " ";
            height: 70px;
            width: 70px;
            margin: 0 auto 10px;
            border: 2px solid @syncBlue;
            .border-radius(50%);
            .at2x('/media/img/firefox/sync/feature-icons.png', 210px, 70px);
            background-position: 0 0;
        }
        &.feature-work:before { background-position: 70px 0; }
        &.feature-go:before   { background-position: 140px 0; }
    }
    h2 {
        font-size: 24px;
    }
}

.var-content {
    display: none;
}

.var-fx-31-signed-in {
    display: block;
}

// .state-* classes added to body to show alternate content
.state-fx-31-signed-out .var-fx-31-signed-out,
.state-fx-29-30         .var-fx-29-30,
.state-fx-28-older      .var-fx-28-older,
.state-fx-android       .var-fx-android,
.state-not-fx           .var-not-fx {
    display: block;
}

// Hide elements marked for specific variations by default
.show-fx-31-signed-in,
.show-fx-31-signed-out,
.show-fx-29-30,
.show-fx-28-older,
.show-fx-android,
.show-not-fx {
    display: none;
}

// Show elements for current variation
.state-fx-31-signed-in  .show-fx-31-signed-in,
.state-fx-31-signed-out .show-fx-31-signed-out,
.state-fx-29-30         .show-fx-29-30,
.state-fx-28-older      .show-fx-28-older,
.state-fx-android       .show-fx-android,
.state-not-fx           .show-not-fx {
    display: block;
}

.state-fx-31-signed-out,
.state-fx-29-30,
.state-fx-28-older,
.state-fx-android,
.state-not-fx {
    .var-fx-31-signed-in {
        display: none;
    }
}

.intro {
    width: @widthDesktop - (@gridGutterWidth * 4);
    margin: @baseLine auto;
    text-align: center;
    padding-bottom: @baseLine;
    h1 {
        font-size: 64px;
        line-height: 1.2;
    }
    p {
        .open-sans-light;
        font-size: 28px;
        line-height: 1.4;
        margin: 0 0 (@baseLine / 2);
    }
}

.sync-anim {
    position: relative;
    height: 190px;
    width: 390px;
    margin: @baseLine auto;
    background-image: url('/media/img/firefox/sync/composite.png?04-2014');
}

.main-content {
    display: none;
    clear: both;
    margin-top: @baseLine;
    h2 {
        font-size: 24px;
        line-height: 1.2;
        padding-right: @baseLine;
    }
    article {
        overflow: hidden;
        header {
            .span(3);
        }
        section {
            .span(5);
        }
        aside {
            .span(4);
        }
        &.primary {
            padding-bottom: @baseLine;
            border-bottom: 1px dotted @textColorLight;
        }
        &.secondary {
            padding-top: @baseLine;
        }
    }

    a:link,
    a:visited {
        color: @linkBlue;
    }

    a:hover,
    a:active,
    a:focus {
        color: @linkBlueHover;
    }

    a.menu:before {
        content:'\2630 ';
    }

    strong {
        font-weight: normal;
        color: #D55631;
    }
}



.android-link {
    .trailing-arrow();
}

.newsletter-form {
    clear: both;
}

/* RTL support */
html[dir="rtl"] {
    #wrapper:before {
        left: 85px;
        right: auto;
    }

    .intro {
        float: right;
    }

    .main-content {
        h2 {
            padding-right: 0;
            padding-left: @baseLine;
        }
        article {
            header,
            section,
            aside {
                float: right;
            }
            ol {
                margin-right: 20px;
            }
        }
    }
}

/* Tablet Layout: 760px */
@media only screen and (min-width: @breakTablet) and (max-width: @breakDesktop) {

    #wrapper:before {
        top: 120px;
        right: 20px;
        height: 175px;
        width: 175px;
        z-index: 2;
    }

    .intro {
        width: @widthTablet - (@gridGutterWidth * 4);
        h1 {
            font-size: 42px;
        }
        p {
            font-size: @largeFontSize;
        }
    }

    .main-content article {
        section {
            .span(6);
        }
        aside {
            .span(6);
            margin-left: 250px;
        }

    }

    html[dir="rtl"] {
        .main-content article {
            aside {
                float: left;
                margin-left: 10px;
                margin-right: 250px;
            }
        }
    }
}

/* Mobile layout: 480px */
@media only screen and (max-width: @breakTablet) {

    #wrapper:before {
        content: "";
        background: none;
    }

    .intro {
        .span-all();
        padding-bottom: 0;
        h1 {
            font-size: 36px;
        }
        p {
            font-size: @largeFontSize;
        }
    }

    .sync-anim {
        float: none;
        margin: 0 auto @baseLine auto;
    }

    .main-content {
        article {
            header,
            section,
            aside {
                .span-all();
            }
        }
    }

    html[dir="rtl"] {
        .intro {
            float: none;
        }
        .main-content {
            aside {
                float: none;
                text-align: right;
            }
        }
    }
}

/* Mobile layout: 320px */
@media only screen and (max-width: @breakMobileLandscape) {

    .sync-anim {
        display: none;
    }
}
