{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "legal/base-resp.html" %}

{% block page_title %}{{ _('Legal') }}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block body_id %}legal-landing{% endblock %}

{% block main_feature %}
  <hgroup id="main-feature" class="center">
    <h1 class="large">{{ self.page_title() }}</h1>
  </hgroup>
{% endblock %}

{% block article %}

  <section class="section-content section-terms">
    <h2>{{ _('Terms, privacy & trademarks') }}</h2>
    <ul>
      <li class="terms-websites"><a href="{{ url('legal.terms.mozilla') }}">{{ _('Our Websites') }}</a></li>
      <li class="terms-firefox"><a href="{{ url('legal.terms.services') }}">{{ _('Firefox Services') }}</a></li>
      <li><a href="{{ url('privacy') }}">Privacy Notices and Policy</a></li>
      <li class="terms-webmaker"><a href="https://webmaker.org/terms">{{ _('Webmaker') }}</a></li>
      <li class="terms-marketplace"><a href="https://marketplace.firefox.com/terms-of-use">{{ _('Firefox Marketplace') }}</a></li>
      <li><a href="{{ url('legal.trademarks' ) }}">Trademark Policy</a></li>
    </ul>
  </section>

  <section class="section-content section-terms">
    <h2>{{ _('Downloadable software notices') }}</h2>
    <ul>
      <li class="terms-firefox"><a href="{{ url('legal.terms.firefox') }}">{{ _('Firefox') }}</a></li>
      <li class="terms-thunderbird"><a href="{{ url('legal.terms.thunderbird') }}">{{ _('Thunderbird') }}</a></li>
    </ul>
  </section>

{% endblock %}

{% block side_nav %}{% endblock %}

{% block side_extra %}
  <section id="side-involved">
    <h3>{{ _('Get involved') }}</h3>
    <p>{{ _('Special thanks to all of you who help report abuses of Mozilla marks, participate in governance forums, give feedback on our localizations & legal terms, and contribute your skills to the success of the Mozilla project.') }}</p>
    <a href="{{ url('mozorg.contribute') }}">{{ _('Get involved!') }}</a>
  </section>
  <section>
    <h3>{{ _('Protect the Fox') }}</h3>
    <p><a href="{{ url('legal.fraud-report') }} ">{{ _('Help us protect our users by reporting abuse of Mozilla Trademarks.') }}</a></p>
  </section>
  <section>
    <h3>{{ _('Takedown requests') }}</h3>
    <p><a href="{{ url('legal.report-abuse') }}">{{ _('Report abuse of your copyrights
and trademarks.') }}</a></p>
  </section>

{% endblock %}
