{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "/firefox/base-resp.html" %}

{% block page_title %}{{ _('Keep your Firefox in sync') }}{% endblock %}
{% block body_id %}firefox-sync{% endblock %}

{% block extrahead %}
  {{ css('firefox_sync') }}
  <!--[if gt IE 9]><!-->
    {{ css('firefox_sync_anim') }}
  <!--<![endif]-->
{% endblock %}

{% block content %}
{% include 'firefox/includes/sync-animation.html' %}
<header role="banner" class="intro container">
  <h1>{{ _('Ready, Set, Sync') }}</h1>
  <p class="show-fx-31-signed-in">
    {{ _('You’re signed up and ready to access <em>your</em> Firefox anywhere, anytime.') }}
  </p>
  <p class="show-fx-31-signed-out">
    {{ _('Sync Firefox wherever you use it to access your bookmarks, passwords, tabs and more from any smartphone, tablet or computer.') }}
  </p>
</header>

<section class="primary">
  <div class="inner-wrapper">

    <p class="warning">
      {{ _('Have an Android smartphone or tablet? Connect them to your Firefox Account for the full Sync experience.') }}
    </p>

    <div class="show-fx-31-signed-in">
      <a href="{{ settings.GOOGLE_PLAY_FIREFOX_LINK }}" class="primary-sync-button">
        {{ _('Download Firefox for Android') }}
      </a>
    </div>

    <div class="show-fx-31-signed-out">
      <a href="#TODO" class="primary-sync-button">
        {{ _('Get started with Sync') }}
      </a>
    </div>

  </div>
</section>

<section class="secondary">
  <div class="inner-wrapper">
    <div class="container">
      <header>
        <h1>{{ _('Sync a little. Sync a lot.') }}</h1>
        <p>
          {{ _('You choose what parts of your Firefox you want to sync and where you want to sync them. Take your open tabs on your daily commute. Access your bookmarks at work. Whatever, whenever, everywhere.') }}
        </p>
      </header>
      <div class="features">
        <div class="feature-home">
          <h2>{{ _('At home') }}</h2>
          <p>
            {{ _('Move from your desk to the couch without skipping a beat. Access your open tabs on your smartphone, or keeping browsing your bookmarks right on your tablet.') }}
          </p>
        </div>
        <div class="feature-work">
          <h2>{{ _('At work') }}</h2>
          <p>
            {{ _('Stay connected to all of your important information. Sync the passwords and bookmarks that you might need to access at any time. Just like Firefox, it’s safe as can be.') }}
          </p>
        </div>
        <div class="feature-go">
          <h2>{{ _('On the go') }}</h2>
          <p>
            {{ _('Keep up with your favorite sites, or finish that story you started at home — wherever you go. With Sync, it’s never been easier.') }}
          </p>
      </div>
    </div>
  </div>
</section>

<section class="android-promo">
  <div class="inner-wrapper">
    <div class="container">
      <h1>{{ _('Have an <b>Android smartphone</b> or <b>tablet</b>?') }}</h1>
      <p>
        {{ _('To get the full Sync experience, take your Web with you everywhere you use Firefox. Connect your smartphone, tablet, computer and laptop.') }}
      </p>
      <a href="{{ settings.GOOGLE_PLAY_FIREFOX_LINK }}" class="android-button">
        {{ _('DOWNLOAD FIREFOX FOR ANDROID') }}
      </a>
    </div>
  </div>
</section>

<section class="primary">
  <div class="inner-wrapper">
    <div class="container">
      <div class="var-content var-fx-31-signed-in">
        <p>Firefox 31 (signed-in)</p>
     </div>
      <div class="var-content var-fx-31-signed-out">
        <p>Firefox 31 (signed-out)</p>
     </div>
      <div class="var-content var-fx-29-30">
        <p>Firefox 29/30</p>
     </div>
      <div class="var-content var-fx-28-older">
        <p>Firefox 28 or older</p>
     </div>
      <div class="var-content var-not-fx">
        <p>Not Firefox (you should try it - it's pretty good)</p>
     </div>
      <div class="var-content var-fx-android">
        <p>Firefox for Android</p>
     </div>
  </div>
</section>

<div class="main-content billboard">
  <article class="primary">
    <header>
      <h2>{{ _('Get started with Sync. It’s fast, safe and easy:') }}</h2>
    </header>
    <section>
      <ol>
        {% if l10n_has_tag('sync_new_markup') or settings.DEV %}
          <li>{% trans url='https://support.mozilla.org/kb/learn-more-about-the-design-of-new-firefox' %}
            Open the <a class="menu" href="{{ url }}#w_a-handy-new-menu">menu</a> in the top right of Firefox and select “<strong>Sign in to Sync.</strong>”
          {% endtrans %}</li>
          {# L10n: <strong> tags below used for font color formatting. #}
          <li>{{ _('Click “<strong>Get started</strong>” in the tab that opens.') }}</li>
          <li>{{ _('Enter an email address and password to “<strong>Create a Firefox Account.</strong>”') }}</li>
          <li>{{ _('Click “<strong>Next</strong>” to get a verification sent to your email.') }}</li>
        {% else %}
          <li>{% trans url='https://support.mozilla.org/kb/learn-more-about-the-design-of-new-firefox' %}
            Open the <a href="{{ url }}#w_a-handy-new-menu">menu</a> in the top right of Firefox and select “Sign in to Sync.”
          {% endtrans %}</li>
          <li>{{ _('Click “Get started” in the tab that opens.') }}</li>
          <li>{{ _('Enter an email address and password to “Create a Firefox Account.”') }}</li>
          <li>{{ _('Click “Next” to get a verification sent to your email.') }}</li>
        {% endif %}
      </ol>
      <p>{{ _('Check your email and click the verification link.') }}</p>
      <p>{{ _('You’re all set! Firefox will automatically sync in the background from now on.') }}</p>
    </section>
    <aside role="complimentary">
      <ul class="unstyled">
        <li><a class="more" href="https://support.mozilla.org/kb/how-do-i-set-up-firefox-sync">{{ _('Get more detailed instructions.') }}</a></li>
        <li><a class="more" href="https://support.mozilla.org/kb/how-to-update-to-the-new-firefox-sync">{{ _('Using an older version of Sync?') }}</a></li>
      </ul>
    </aside>
  </article>
  <article class="secondary">
    <header>
      <h2>{{ _('Have an Android phone or tablet?') }}</h2>
    </header>
    <section>
      <p>
      {% if l10n_has_tag('sync_new_markup') or settings.DEV %}
        {% trans url=settings.GOOGLE_PLAY_FIREFOX_LINK %}
          <a href="{{ url }}">Download Firefox for Android</a> to sync between your desktop and mobile devices.
        {% endtrans %}
      {% else %}
        {{ _('Download Firefox for Android to sync between your desktop and mobile devices.') }}
      {% endif %}
      </p>
    </section>
    <aside role="complimentary">
      {{ download_firefox(force_direct=True, mobile=True, small=True) }}
    </aside>
  </article>
</div>
{% endblock %}

{% block email_form %}{% endblock %}

{% block js %}
  {{ js('firefox_sync') }}
{% endblock %}
